xml/FluxSvcParams.dtd

<!--  $Header: /nfs/slac/g/glast/ground/cvs/FluxSvc/xml/FluxSvcParams.dtd,v 1.7 2002/07/23 19:00:58 srobinsn Exp $
  DTD file for internal FluxSvc data and parameter definitions
  -->
<!ELEMENT data_library ((datatable)+ |(data_library)*) >


<!ELEMENT datatable (( logNlogSdata )*) >
<!ATTLIST datatable name ID #REQUIRED
			  flux CDATA "1.0">


<!-- for a specific direction -->
<!ELEMENT logNlogSdata EMPTY>
<!ATTLIST logNlogSdata logflux CDATA "0" lognumsources CDATA "0">